
{% load static %}
{% load crispy_forms_tags %}
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">


