{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}


<body class="form-body">

    <div class="head-container container-fluid p">
        <div class="parent">
            <div class="container mt-5 chid">
                <form action="" method="POST" enctype="multipart/form-data" class="register_form">
                    <h2 class="text text-primary text-center">Slider Form</h2>
                    
                    {%csrf_token%}
                    {{ slider_form|crispy }}

                    <button class="btn btn-primary w-100">Submit</button>
                
                </form>
            </div>
        </div>
    </div>
    
</body>




{% endblock %}